In [1]:
# Dependencies
import numpy as np
import pandas as pd
import requests
from census import Census

In [3]:
# Census & gmaps API Keys
from config import (api_key, gkey)

## Collecting Data from Census (2013 - 2018): CA, CO, Fl, ID, OR, TX

In [5]:
# Run Census Search to retrieve data on all states

years=[2013,2014,2015,2016,2017,2018]

# Names for your columns

#Jenifer
column1 = "Population"
column2 = "Per Capita Income"
column3 = "Poverty Count"
#Natalia
column4 = "Rent(%)" #Median Rent as a Percentage of Houshold Income
column5 = "House with mortgage(%)" #Median Owner Cost for House WITH Mortgage as a Percentage of Houshold Income 
column6 = "House without mortgage(%)" #Median Owner Cost for House WITHOUT Mortgage as a Percentage of Houshold Income 
#Hossein
column7 = "Mean of Trans by Age"
column8 = "Travel Time to Work"
#Daniel (Race part)
column9 = "Race Total"
column10 = "White alone"
column11 = "Block or African American alone"
column12 = "American Indian and Alaska Native Alone"
column13 = "Asian Alone"
column14 = "Unemployement count"

median_rent_pd = pd.DataFrame()
all_years_df = pd.DataFrame()

states_list=[]
years_list=[]

column1_data =[]
column2_data =[]
column3_data =[]
column4_data =[]
column5_data =[]
column6_data =[]
column7_data =[]
column8_data =[]
column9_data =[]
column10_data =[]
column11_data =[]
column12_data =[]
column13_data =[]
column14_data =[]

state_number = []


for y in years:
    
    c = Census(api_key, year=y)
    
    #Give Names for your Groups
    median_rent_data = c.acs5.get(("NAME", "B01003_001E","B19301_001E", "B17001_002E", 
                                   "B25071_001E","B25092_002E", "B25092_003E",
                                  "B08101_001E", "B08303_001E",
                                  "B02001_001E", "B02001_002E", "B02001_003E", "B02001_004E","B02001_005E","B23025_005E"), 
                         {'for': 'state: 06, 08, 12, 16, 41, 48'})
    
        #To assing yeach value with specific year


    # Sorting to put states in the same order states in the table
    median_rent_pd = pd.DataFrame(median_rent_data).sort_values("NAME",ascending=True)
    median_rent_pd = median_rent_pd.reset_index()
    #print(median_rent_pd)
    
    year_column=[]
    for i in range(len(median_rent_pd["state"])):
        year_column.append(y)
    #print(year_column)
    
    #Adding all data into lists
    state_number.extend(median_rent_pd["state"].tolist())
    states_list.extend(median_rent_pd["NAME"].tolist())
    years_list.extend(year_column)
    column1_data.extend(median_rent_pd["B01003_001E"].tolist())
    column2_data.extend(median_rent_pd["B19301_001E"].tolist())
    column3_data.extend(median_rent_pd["B17001_002E"].tolist())
    column4_data.extend(median_rent_pd["B25071_001E"].tolist())
    column5_data.extend(median_rent_pd["B25092_002E"].tolist())
    column6_data.extend(median_rent_pd["B25092_003E"].tolist())
    column7_data.extend(median_rent_pd["B08101_001E"].tolist())
    column8_data.extend(median_rent_pd["B08303_001E"].tolist())
    column9_data.extend(median_rent_pd["B02001_001E"].tolist())
    column10_data.extend(median_rent_pd["B02001_002E"].tolist())
    column11_data.extend(median_rent_pd["B02001_003E"].tolist())
    column12_data.extend(median_rent_pd["B02001_004E"].tolist())
    column13_data.extend(median_rent_pd["B02001_005E"].tolist())
    column14_data.extend(median_rent_pd["B23025_005E"].tolist())    
    
    
#print(years_list)
#print(states_list)

all_years_df["Year"] = years_list
all_years_df["State Name"] = states_list
all_years_df["State Number"] = state_number
all_years_df[column1] = column1_data
all_years_df[column2] = column2_data
all_years_df[column3] = column3_data
all_years_df[column4] = column4_data
all_years_df[column5] = column5_data
all_years_df[column6] = column6_data
all_years_df[column7] = column7_data
all_years_df[column8] = column8_data

all_years_df[column9] = column9_data
all_years_df[column10] = column10_data
all_years_df[column11] = column11_data
all_years_df[column12] = column12_data
all_years_df[column13] = column13_data
all_years_df[column14] = column14_data

all_years_df.head()
#print(states_list)

,Year,State Name,State Number,Population,Per Capita Income,Poverty Count,Rent(%),House with mortgage(%),House without mortgage(%),Mean of Trans by Age,Travel Time to Work,Race Total,White alone,Block or African American alone,American Indian and Alaska Native Alone,Asian Alone,Unemployement count
0,2013,California,06,37659181.0,29527.0,5885417.0,33.7,29.2,11.3,16290887.0,15437979.0,37659181.0,23467167.0,2255372.0,286397.0,5005635.0,2168665.0
1,2013,Colorado,08,5119329.0,31109.0,660874.0,30.9,24.0,10.2,2494794.0,2331060.0,5119329.0,4301096.0,203755.0,49177.0,141719.0,231741.0
2,2013,Florida,12,19091156.0,26236.0,3052807.0,34.9,28.0,13.6,8094220.0,7706393.0,19091156.0,14568521.0,3056152.0,58390.0,475905.0,1096028.0
3,2013,Idaho,16,1583364.0,22568.0,240298.0,29.8,24.1,10.2,684393.0,645127.0,1583364.0,1455692.0,8957.0,19984.0,20141.0,67189.0
4,2013,Oregon,41,3868721.0,26809.0,614778.0,32.2,26.2,12.8,1700451.0,1591348.0,3868721.0,3297149.0,70328.0,47411.0,147986.0,221191.0

In [6]:
# Add a Poverty Rate Column
all_years_df["Poverty Rate"] = 100 * all_years_df["Poverty Count"].astype(int)/all_years_df["Population"].astype(int)
all_years_df.head()

,Year,State Name,State Number,Population,Per Capita Income,Poverty Count,Rent(%),House with mortgage(%),House without mortgage(%),Mean of Trans by Age,Travel Time to Work,Race Total,White alone,Block or African American alone,American Indian and Alaska Native Alone,Asian Alone,Unemployement count,Poverty Rate
0,2013,California,06,37659181.0,29527.0,5885417.0,33.7,29.2,11.3,16290887.0,15437979.0,37659181.0,23467167.0,2255372.0,286397.0,5005635.0,2168665.0,15.628107
1,2013,Colorado,08,5119329.0,31109.0,660874.0,30.9,24.0,10.2,2494794.0,2331060.0,5119329.0,4301096.0,203755.0,49177.0,141719.0,231741.0,12.909387
2,2013,Florida,12,19091156.0,26236.0,3052807.0,34.9,28.0,13.6,8094220.0,7706393.0,19091156.0,14568521.0,3056152.0,58390.0,475905.0,1096028.0,15.990687
3,2013,Idaho,16,1583364.0,22568.0,240298.0,29.8,24.1,10.2,684393.0,645127.0,1583364.0,1455692.0,8957.0,19984.0,20141.0,67189.0,15.176422
4,2013,Oregon,41,3868721.0,26809.0,614778.0,32.2,26.2,12.8,1700451.0,1591348.0,3868721.0,3297149.0,70328.0,47411.0,147986.0,221191.0,15.890988

## Migration Data (2013 - 2018): CA, CO, Fl, ID, OR, TX

In [7]:
# Adding Migration Data per state for 2013-2018
# Migration in US
# Study data files
migration_file_path = "Data/Total_Migration_2013-2018_CSV.csv"

# Reading the migration data from CSV file
migration_all_states_df = pd.read_csv(migration_file_path)

# Combine the two dataframes into a single dataset
merge_data_df = pd.merge(all_years_df,migration_all_states_df, on=["Year","State Name"])

#Column rearrangment
all_census_data = merge_data_df[['Year','State Name','State Number','Population','Move In','Move Out','Delta','Per Capita Income','Poverty Count','Poverty Rate','Rent(%)',
 'House with mortgage(%)','House without mortgage(%)','Mean of Trans by Age','Travel Time to Work','Race Total','White alone',
 'Block or African American alone','American Indian and Alaska Native Alone','Asian Alone','Unemployement count']]
all_census_data.head()

,Year,State Name,State Number,Population,Move In,Move Out,Delta,Per Capita Income,Poverty Count,Poverty Rate,...,House with mortgage(%),House without mortgage(%),Mean of Trans by Age,Travel Time to Work,Race Total,White alone,Block or African American alone,American Indian and Alaska Native Alone,Asian Alone,Unemployement count
0,2013,California,06,37659181.0,485477.0,581679.0,-96202.0,29527.0,5885417.0,15.628107,...,29.2,11.3,16290887.0,15437979.0,37659181.0,23467167.0,2255372.0,286397.0,5005635.0,2168665.0
1,2013,Colorado,08,5119329.0,206543.0,166348.0,40195.0,31109.0,660874.0,12.909387,...,24.0,10.2,2494794.0,2331060.0,5119329.0,4301096.0,203755.0,49177.0,141719.0,231741.0
2,2013,Florida,12,19091156.0,529406.0,423995.0,105411.0,26236.0,3052807.0,15.990687,...,28.0,13.6,8094220.0,7706393.0,19091156.0,14568521.0,3056152.0,58390.0,475905.0,1096028.0
3,2013,Idaho,16,1583364.0,61592.0,63788.0,-2196.0,22568.0,240298.0,15.176422,...,24.1,10.2,684393.0,645127.0,1583364.0,1455692.0,8957.0,19984.0,20141.0,67189.0
4,2013,Oregon,41,3868721.0,143841.0,111680.0,32161.0,26809.0,614778.0,15.890988,...,26.2,12.8,1700451.0,1591348.0,3868721.0,3297149.0,70328.0,47411.0,147986.0,221191.0

## Writing the final DataFlame into CSV file

In [9]:
## Writing the final DataFlame into CSV file
all_census_data.to_csv("Data/all_census_data.csv",index=False)